import(methods)
import(Biostrings)
import(GenomicRanges)
import(IRanges)
import(KernSmooth)
import(data.table)

importFrom(plotrix, color.legend)
importFrom(Matrix, sparseMatrix)
importFrom(genomation, ScoreMatrixBin)

export(Heatmap)
export(heatmapOptions)
export(plotHeatmapMeta)
export(plotHeatmapList)
export(plotPatternDensityMap)

exportMethods(plotHeatmap, smooth, getPatternOccurrence, CoverageHeatmap)
        
